/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2015, 03:04:47 PM
    Author     : familia-orozco
*/


/*
    Estilos generales para el body
*/
body{
    background-color: #efefef;
    color: #000000;
    font-family: arial;
    font-size: 16px;
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
}

/*
    Estilos para el header
*/
.header{
    width: 100%;
    float: left;
    background-color: #141D81;
}

.logo {
    display: block;
    width: 30%;
    float: left;
}

.logo img {
    display: block;
    float: left;
    width: 40%;
}

.logo > span {
    width: 60%;
    color: #ffffff;
}

.slogan {
    display: block;
    width: 50%;
    color: #ffffff;
}

.links{
    float:left;
    width:20%;
    display: block; 
}

/*
    Estilos para el menú
*/
nav {
    background-color: #d8daea;
    display: block;
    padding: 1px 0;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}


li {
    float: left;
    list-style: outside none none;
    margin: 0;   
    padding: 10px 0;
}

li a {
    color: #000;
    text-decoration: none;
    padding: 2px 10px;
    border-right: 1px solid;
}

li a:hover {
    color: #141d81;
    background-color: #aaaaaa;
}

/*
    Estilos para el footer
*/
footer{
    padding: 20px 0 120px 0;
    width: 100%;
    background-color: #000;
    color: #efefef;
    float: left;
}

/* 
    Estilos para el Wrapper Content
*/
.wrapper {
    display: block;
    float: left;
    width: 100%;
}

/* 
    Estilos para el Sidebar
*/
aside {
    float: left;
    width: 30%;
}

aside article{
    width: 100%;
}

/* 
    Estilos para el Content
*/
.content {
    float: left;
    width: 70%;
}

article {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    border-bottom: 1px dotted;
}

.foto {
    float: left;
    margin-right: 10px;
    width: 30%;
}

.foto img {
    width: 100%;
}

.nombre a {
    color: #aa1111;
    text-decoration: none;
}

.ver-mas > a {
    color: #aa1111;
    text-decoration: none;
}

.ver-mas {
    float: left;
    width: 20%;
}

.reputacion {
    float: left;
    width: 20%;
}

.perfil {
    margin-bottom: 10px;
}

/* Formulario loggin */
.login{
    width: 100%;
    float: left;
}