{% extends 'layout.html.twig' %}

{% block content %}
    <section class="login">
        <div class="usuario">Usuario: <input name="usuario" type="text" /></div>
        <div class="password">Contraseña: <input name="usuario" type="password" /></div>
        <div class="entrar"><button type="button">Entrar</button></div>
    </section>
{% endblock %}
